@(things: ArrayList[Post])

@main_jnet {
    <nav>
        <div class="nav-wrapper deep-purple">
            <a href="#" class="brand-logo">Timelines</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#"><i class="material-icons left">search</i>Link with Left Icon</a></li>
                <li><a href="#"><i class="material-icons">mail_outline</i></a></li>
                <li><a href="#"><i class="material-icons">border_color</i></a></li>
                <li><a href="#"><i class="material-icons">format_list_bulleted</i></a></li>
            </ul>
        </div>
    </nav>
    <div class="parallax-container">
        <div class="parallax"><img src="http://www.drodd.com/images11/twitter-backgrounds10.jpg"></div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#feed"><font color="#1e90ff">Feed</font></a></li>
                <li class="tab col s3"><a href="#profile"><font color="#1e90ff">Profile</font></a></li>
                <li class="tab col s3"><a href="#friends"><font color="#1e90ff">Friends</font></a></li>
                <li class="tab col s3"><a href="#stats"><font color="#1e90ff">Stats</font></a></li>
            </ul>
            <div id="feed" class="col s12"></div>
            <div id="profile" class="col s12"></div>
            <div id="friends" class="col s12"></div>
            <div id="stats" class="col s12"></div>
        </div>
    </div>

<div class="container">
    <!--
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Reactive Maps</span>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li data-bind="ifnot: disconnected, click: disconnect"><a href="#">Disconnect</a></li>
                <li data-bind="ifnot: disconnected, click: toggleMockGps, css: {active: mockGps() != null}"><a href="#">Mock GPS</a></li>
            </ul>
        </div>
    </nav>
-->
    <div data-bind="if: disconnected">
        <form role="form">
            <div class="form-group">
                <input type="email" class="form-control" data-bind="value: email" placeholder="This is placeholder text yo"/>
            </div>
        </form>
        <div class="feed-group">
            <div class="row">
                @for(item <- 0 until things.size){
                        <!--<div style=" background-color: #ccffcc ;";><li>@things(item)</li></div>-->
                    <div class="col s4">
                        <div class="card light-blue lighten-4">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>@things(item)</p>
                            </div>
                            <div class="card-action">
                                <i class="material-icons">favorite</i>
                                <i class="material-icons">comment</i>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <button class="btn btn-primary" data-bind="click: submitEmail">Connect</button>
    </div>

    <div data-bind="if: connecting">
        <span data-bind="text: connecting"></span>
    </div>

    <div class="row maps" data-bind="ifnot: disconnected">
        <!--<div data-bind="css: {'col-md-12': mockGps() == null, 'col-md-8': mockGps() != null}" id="map"></div>-->
        <!--<div class="mockGpsContainer col-md-4">-->
            <!--<div id="mockGps"></div>-->
        <!--</div>-->
    </div>

    <script>
            $(document).ready(function(){
                $('ul.tabs').tabs();
            });
            $(document).ready(function(){
                $('.parallax').parallax();
            });
    </script>

    <style>
    .parallax-container {
        height: 200px;
    }
    </style>
</div>
}
