
@main{
  <!-- first section - Home -->
  <div id="home" class="home">
    <div class="text-vcenter">
      <h1>Timelines</h1>
    </div>
  </div>
    <!-- /first section -->

  <div class="container sign-in-up">
    <div class="row">

      <div class="col-md-8">
        <h3 class="text-center">How to Use</h3>
        <p id="how-to-use">
          <b>Description:</b> This is a personal journaling web app that allows a user to view life events and
          changes as time series graphs. Users can make quick entries to track life events, thoughts, and
          mood using tags, images, and text. These entries can also be shared with other users.
          <br><b>Description:</b> This is a personal journaling web app that allows a user to view life events and
          changes as time series graphs. Users can make quick entries to track life events, thoughts, and
          mood using tags, images, and text. These entries can also be shared with other users.
          <br><b>Description:</b> This is a personal journaling web app that allows a user to view life events and
          changes as time series graphs. Users can make quick entries to track life events, thoughts, and
          mood using tags, images, and text. These entries can also be shared with other users.
          <br><b>Description:</b> This is a personal journaling web app that allows a user to view life events and
          changes as time series graphs. Users can make quick entries to track life events, thoughts, and
          mood using tags, images, and text. These entries can also be shared with other users.
        </p>
      </div>

      <div class="col-md-4">
        <br>
          <!-- Nav tabs -->
        <div class="text-center">
          <div class="btn-group">
            <a href="#new" role="tab" data-toggle="tab" class="big btn btn-default"><i class="fa fa-plus"></i> New User</a>
            <a href="#user" role="tab" data-toggle="tab" class="big btn btn-primary"><i class="fa fa-user"></i> I have account</a>
          </div>
        </div>
        <p class="click2select">Click to select</p>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="new">
            <br>
            <fieldset>
              <div class="form-group">
                <div class="right-inner-addon">
                  <i class="fa fa-envelope"></i>
                  <input class="form-control input-lg" placeholder="Email Address" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="right-inner-addon">
                  <i class="fa fa-key"></i>
                  <input class="form-control input-lg" placeholder="Password" type="password">
                </div>
              </div>
              <div class="form-group">
                <div class="right-inner-addon">
                  <i class="fa fa-key"></i>
                  <input class="form-control input-lg" placeholder="Confirm Password" id="" type="password">
                </div>
              </div>
            </fieldset>
            <div class=" text-center">
              <button class="btn btn-success">Sign Up</button>
            </div>
          </div>

          <div class="tab-pane fade" id="user">
            <br>
            <fieldset>
              <div class="form-group">
                <div class="right-inner-addon">
                  <i class="fa fa-envelope"></i>
                  <input class="form-control input-lg" placeholder="Email Address" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="right-inner-addon">
                  <i class="fa fa-key"></i>
                  <input class="form-control input-lg" placeholder="Password" type="password">
                </div>
              </div>
            </fieldset>
            <br>
            <div class=" text-center">
              <button class="btn btn-success">Login</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

}